/* nav{
    background-color: black;
    padding:.5rem var(--MM);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: block;
        margin: 0 auto;
        img{
            height: 10rem;
        }
    }
    button{
        padding: 1rem 2rem;
        font-size: 1.6rem;
        font-weight: bold;
        background-color: #d01d5b;
        color: white;
        border: none;
        border-radius: .8rem;
    }
    
} */

  .navbar {
    background-color: #333;
    overflow: hidden; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.navbar a {
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}


.navbar a:hover {
    background-color: #575757; 
    color: white;
}


.navbar button {
    background-color: #2d3b7f; 
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px;
    cursor: pointer;
    border-radius:10% ;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #272d9c; 
}


.navbar select {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}


.navbar select option {
    background-color: white;
    color: black;
}


@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a, .navbar button, .navbar select {
        width: 100%;
        text-align: left;
        margin: 5px 0;
    }
}